@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Tilt+Prism&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.test{
    background-image:linear-gradient(to bottom,transparent, #13274F ),url("https://static01.nyt.com/images/2017/01/22/sports/23clary-federer5/23clary-federer5-superJumbo.jpg");
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #13274F;
    
}

.border-gradient{
    background:linear-gradient(transparent, transparent ) padding-box,linear-gradient(to right, #2C3E50, #4CA1AF ) border-box;
    border-width:3px;
    border-style:solid;
    border-color: transparent;
    border-image-slice:1;
    border-radius: 20px;
}
.border-gradient2{
    background:linear-gradient(transparent, transparent ) padding-box,linear-gradient(to right, #24C6DC, #514A9D ) border-box;
    border-width:3px;
    border-style:solid;
    border-color: transparent;
    border-image-slice:1;
    border-radius: 20px;
}

.lost:hover{
    transform:rotateY(180deg);
}

.box {
    position: relative;
  }
  .box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px; 
    padding: 4px; 
    background:linear-gradient(to right,#2C3E50,#4CA1AF); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }