@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Tilt+Prism&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: #13274F;
    
    
}

.border-gradient{
    background:linear-gradient(transparent, transparent ) padding-box,linear-gradient(to right, #2C3E50, #4CA1AF ) border-box;
    border-width:3px;
    border-style:solid;
    border-color: transparent;
    border-image-slice:1;
    border-radius: 20px;
}
.border-gradient2{
    background:linear-gradient(transparent, transparent ) padding-box,linear-gradient(to right, #24C6DC, #514A9D ) border-box;
    border-width:3px;
    border-style:solid;
    border-color: transparent;
    border-image-slice:1;
    border-radius: 20px;
}

.lost:hover{
    transform:rotateY(180deg);
}

.box {
    position: relative;
  }
  
.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px; 
    padding: 4px; 
    background:linear-gradient(to right,#2C3E50,#4CA1AF); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
.box2 {
    position: relative;
  }
  
.box2::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px; 
    padding: 4px; 
    background:linear-gradient(to right,#00c3ff,#ffff1c); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }


.test{
      animation: fade 600ms linear;
  }

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.flip{
    transform: rotateY(180deg);
}

.flip:hover{
    transform: rotateY(180deg) ;
}

.noflip:hover{
    transform: rotateY(0deg) ;

}

@media only screen and (min-width:1024px){
    .flip:hover{
        transform: rotateY(180deg) scale(1.05) ;
    }
    
    .noflip:hover{
        transform: rotateY(0deg) scale(1.05) ;
    
    }
}

.test2{
    transform: rotateY(180deg);
}

.translatex{
    transform: translateX(50%);
}

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}


@keyframes skeleton-loading{
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color:#A9A9A9;
    }
}

::-webkit-scrollbar{
    width: 1vw;
    height: 1.5vh;
}

::-webkit-scrollbar-track{
    background-color: rgba(9, 19, 39, 0.2);
}
::-webkit-scrollbar-track:hover{
    background-color: rgba(9, 19, 39, 1);
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(to right,#2C3E50,#4CA1AF); 
    /* border-radius: 5px; */
}