@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Tilt+Prism&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.test{
    background-image:linear-gradient(to bottom,transparent, #13274F ),url("https://static01.nyt.com/images/2017/01/22/sports/23clary-federer5/23clary-federer5-superJumbo.jpg");
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #13274F;
    
}



